<div class="container" style="width:60%">
  <div *ngIf="productData">

    <table class="table table-hover table-bordered">
      <tbody>
      <tr>
        <th scope="row">Name</th>
        <td>{{productData.productName}}</td>
      </tr>

      <tr>
        <th scope="row">Code</th>
        <td>{{productData.productCode}}</td>
      </tr>

      <tr>
        <th scope="row">MRP</th>
        <td>{{productData.mrp}}</td>
      </tr>

      <tr>
        <th scope="row">SSP</th>
        <td>{{productData.ssp}}</td>
      </tr>

      <tr>
        <th scope="row">YMP</th>
        <td>{{productData.ymp}}</td>
      </tr>

      <tr>
        <th scope="row">Description</th>
        <td>{{productData.shortDescription}}</td>
      </tr>

      <tr>
        <th scope="row">Dimensions</th>
        <td>{{productData.dimensions}}</td>
      </tr>

      <tr>
        <th scope="row">Status</th>
        <td>{{productData.status}}</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
